body,html{
	height:100%;
	padding:0px;
	margin:0px;
	background-image: url("../imagen/espacio.png");
}

.a{
	width:100%;
	height:90px;
	overflow:hidden;
	position:fixed;
	top:0px;
}
 
.b{
	width:100%;
	height:100%;
	overflow:hidden;
}

.c{
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	display:none;
	z-index:1
}

.a,.b,.c{
	display:inline-block;
	width:33.33%;
	height:100%;
	float:left;
}

.d{
	height:10%;
	width:100%;
	bottom:0px;
	left:0%;
	background-image: url("../imagen/luna.png");
	z-index:1;
	position: fixed;
}


#instrucciones{
	color:green;
	font-weight: bold;
	font-size: 150%;
	display:block;
	height:70%;
	width:75%;
	top: 20%;
	left: 22.5%;
	position:fixed;
}

#instrucciones img {
	height: 100%;
}

.dropbtn {
    background-color: #33691E;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
	top:0%;
	right:0%;
	height: 50%;
	width: 23%;
    position: fixed;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #33691E;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #9CCC65}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


/*FIN MENU*/

#menu {
	display: none;
	height:7%;
	width:100%;
	top:0px;
	left:0%;
	position: fixed;
}